.header{
    display: block;
    background-color: var(--background-color);
    transition: background-color .3s ease-in-out;
    position: fixed;
    top:0px;
    width: 100%;
    height:85px;
    z-index: 10;
}
.header.scrollchange{
    box-shadow: 0 6px 14px rgb(0 0 0 / 10%);
    background-color: var( --color-white);
}
.list{
    display: flex;
    padding: 29px 16px;
    gap: 25px;
    justify-content: flex-end;
    max-width: 1280px;
    margin: auto;
    font-weight: bold;
    color:var(--color2);
    font-size: 16px;
}
.list>a , .list >div{
    cursor: pointer;
    color:var(--nav-color);
    position: relative;
}
.list>a:hover ,.list>div:hover ,.nav_item.active{
    text-decoration: none;
    color:var(--nav-highlight-color) !important;
}
.nav_item:after{
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--nav-highlight-color);
    height: 2px;

}
.list >div ,.list>div:after {
    transition: all .4s;
}
.nav_item:hover:after ,.nav_item.active:after{
    width: 100%;
}
.nav_bar_toggle{
    display: none;
}
.nav_bar_toggle div>span{
    display: block;
    height: 3px;
    width: 32px;
    background: var(--nav-highlight-color);
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.nav_bar_toggle div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 20px;
    float: right;
}
.nav_bar_toggle div.active{
    gap:0px;
}
.nav_bar_toggle div.active>span:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top:3px;
}
.nav_bar_toggle div.active>span:nth-child(2){
    width:0%;

}
.nav_bar_toggle div.active>span:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top:3px;
}
.nav_bar_content{
    position: fixed;
    top: 85px;
    height:0%;
    width: 100%;
    max-height: 240px;
    transition:all .2s ease-in-out;
    background-color: var(--background-color);
    z-index: 10;
    overflow:hidden;
    box-shadow: 0 9px 16px rgb(0 0 0 / 12%);
}
.nav_bar_content.collapsed{
   height:100%;
}
.nav_bar_content .nav_items:first-child{
    border-top: 1px solid var(--color3);
}
.nav_bar_content .nav_items{
    height: 60px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    font-weight: bold;
    color:var(--color2);
    font-size: 16px;
    cursor: pointer;
}
.nav_items.active{
    background-color: var(--color1);
    color:var(--color-white) !important;
}
.intro{
    min-height:400px;
    padding-top: 85px;
    height:400px;
    height: calc(1vh*100);
    /* background: no-repeat center right fixed url(../assets/images/bg1.jpg);
    background-size: 100%; */
    overflow: hidden;
}
.intro .overlay{
    background-color:var(--background-color);
    position: absolute;
    top: 85px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.65;
    filter: alpha(opacity=65);
    z-index: 2;
}
.container_main {
    max-width: 1280px;
    margin:auto;
    line-height: 1.1;
}
.lander{
    display: flex;
    justify-content: space-evenly;
    /* min-height: inherit; */
    /* height: 100%; */
    height: calc(100vh - 85px);
}
.short_intro,.sub_topic{
    align-items: center;
    display: flex;
    padding: 5px 25px;
    flex: 1;
    white-space: pre-wrap;
    z-index: 4;
}
.short_intro{
    font-size: 55px;
    font-weight: 700;
    border-right: 1px solid var(--color-white);
    z-index: 4;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    opacity:0;
}
.short_intro.animation{
    opacity: 1;
}
.short_intro div{
    display: flex;
    justify-content: center;
}
.short_intro.animation .first div:first-child{
    animation: left_to_right 1.3s ease-in-out 1;
}
@keyframes left_to_right {
    0% {
      transform: translateX(-100%);
    }
    100% {
       transform: translateX(0%);
    }
}
.short_intro.animation .first div:last-child{
    animation: right_to_left 1.3s ease-in-out 1;
}
@keyframes right_to_left {
    0% {
      transform: translateX(100%);
    }
    100% {
       transform: translateX(0%);
    }
}
.short_intro.animation .second {
    animation: bottom_to_top 1.9s  ease-in-out 1;
}
@keyframes bottom_to_top {
    0% {
      transform: translateY(400px);
    }
    100% {
       transform: translateY(0px);
    }
}
.typewriter_cursor{
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}

@keyframes Typewriter-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.sub_topic{
font-size: 28px;
}
.profile,.abilities{
    background: var(--color-white);
}
.container{
    max-width: 1280px;
    padding: 40px 150px;
    margin-right: auto;
    margin-left: auto;
}
.quote{
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}
.quote::after , .experiences_wrapper.education:after,.abilities_wrapper.careers:after ,.abilities_wrapper.languages:after{
    content: '';
    border-bottom: 1px solid #727878;
    opacity: .3;
    border-top: 1px solid #eee;
    display: block;
    margin-top:25px;
    margin-bottom:30px;
}
.profile_wrapper >div >img{
    border-radius: 50%;
    border: 12px solid #f8f9ff;
    width: 100%;
    max-width: 250px;
    filter: grayscale(0.1);
    height: auto;
}
.profile_wrapper >div{
    flex:1;
    padding-right: 15px;
    padding-left: 15px;
}
.experiences_wrapper .row ,.abilities_wrapper .row{
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
}
.row .duration{
    margin: 0 0 10px;
}
.experiences_wrapper .row .heading ,.abilities_wrapper .row .skill_list , .contact_wrapper .row .list {
    flex:1;
    padding: 0 15px 0 15px;
}
.experiences_wrapper .row .details{
    flex:2;
    padding: 0 15px 0 15px;
}
.experiences_wrapper .location{
    display: block;
    margin-top: 5px;
    font-size: 15px;
}
.seperator{
    margin: 3px;
}
.seperator , .location a ,.location{
    color:var(--color2);
}
.glyphicon:not(.glyphicon-star)  {
    margin-right: 2px;
}
.txt_align{
    text-align: center;
}
.edu_heading{
    margin-top: 10px;
    font-weight: 700;
    padding-bottom: 12px;
}
.edu_heading span{
    float:right;
}
.career_desc{
    white-space: pre-line;
}
.skill_list >div{
    padding:3px 0 3px 0;
}
.skill_list .skill_name{
    width:100%;
}

.skill_list .skill_rating{
    float:right;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: all .3s;
}
.skill_list .d-flex:hover .skill_rating{
    gap: 5px;
}
.skill_list .d-flex:hover{
    background: var(--onhover-color);
}
.contact_wrapper{
    margin-bottom: 100px;
}
.contact{
    background: var(--color2);
}
.contact_row{
    justify-content: space-between;
    gap: 15px;
}
.list_wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--background-color);
}
.list_footer{
    flex-direction: column;
    gap: 15px;
    flex: 1;
}
.list_wrapper .icon{
    display: inline-block;
    height: 32px;
    width: 32px;
    filter: invert(88%) sepia(1%) saturate(3484%) hue-rotate(199deg) brightness(107%) contrast(106%);

}
.list_wrapper:hover .icon{
    filter: invert(97%) sepia(0%) saturate(12%) hue-rotate(261deg) brightness(104%) contrast(104%);
}
.linkedin_icon{
    background: url(../assets/images/linkedin.svg) no-repeat;
}
.github_icon{
    background: url(../assets/images/github.svg) no-repeat;
}
.mail_icon{
    background: url(../assets/images/envelope-fill.svg) no-repeat;
}
.call_icon{
    background: url(../assets/images/telephone-fill.svg) no-repeat;
}
.list_wrapper:hover{
    color:var(--color-white);
} 
@media (max-width: 992px){
    .profile_wrapper, .experiences_wrapper .row , .abilities_wrapper .row,.contact_row{
        flex-direction: column;
    }
    .list{
        display: none;
    }
    .list.nav_bar_toggle{
        display: block;
    }
    .list_wrapper{
        justify-content: center;
    }
    .short_intro{
        font-size: 25px;
    }
    .container{
        max-width: 970px;
        padding: 40px 60px;
    }
    .lander{
        height: calc(100vh - 140px);
    }
}

@media (max-width: 768px){
.container {
    max-width: 750px;
    padding: 40px 25px;
}
}
/* @media only screen and (orientation: landscape) and (max-width: 767px){
.intro {
    background-size: 150% auto;
    background-attachment: scroll;
}
}
@media only screen and (orientation: portrait) and (max-width: 767px){
.intro {
    background-size: auto 150%;
    background-attachment: scroll;
}
} */