<div class="header">
  <div class="list">
    <div *ngFor="let items of navArrays" class="nav_item"  [ngClass]="selectedNav == items.id ? 'active':''" (click)="scroll(items.divId,items.id)">{{items.name}}</div>
  </div>
  <div class="list nav_bar_toggle">
    <div  [ngClass]="toggelNav ? 'active':''" (click)="toggelNavbar()" >
    <span></span>    <span></span>    <span></span>        
  </div>
  </div>
</div>
<div class="nav_bar_content"  [ngClass]="toggelNav ? 'collapsed':''">
  <div *ngFor="let items of navArrays" class="nav_items"  [ngClass]="selectedNav == items.id ? 'active':''" (click)="scrolltoMobile(items.divId,items.id)">{{items.name}}</div>
</div>
<div class="intro">
  <div class="container_main lander">
    <div class="overlay"></div>
  <div class="short_intro"><span>{{intro}}<span class="typewriter_cursor">|</span></span></div>
  <div class="sub_topic">Interactive Resume</div>
  </div>
</div>

<div class="profile">
  <div id="profile" #profile class="container" >
    <h2 class="headings">{{resumeDetails.profile.heading}}</h2>
    <div class="quote">{{resumeDetails.profile.quote}} <br>- {{resumeDetails.profile.quoteSayer}}</div>
    <div class="d-flex profile_wrapper">
      <div><h3>About Me</h3>  <p>{{resumeDetails.profile.aboutMe}}</p></div>
      <div class="txt_align"><img src="../assets/images/my_image.png" alt="Profile photo"></div>
      <div><h3>Details</h3>  <p> <strong>Name:</strong><br>{{resumeDetails.profile.details.name}}<br><strong>Age:</strong> <br>{{resumeDetails.profile.details.age}} years <br><strong>Location:</strong><br>{{resumeDetails.profile.details.address}} </p></div>
    </div>
  </div>
</div>

<div id="experiences" #experiences class="container" >
  <h2 class="headings">{{resumeDetails.experiences.heading}}</h2>
  <div class="quote">{{resumeDetails.experiences.quote}} <br>- {{resumeDetails.experiences.quoteSayer}}</div>
  <h3>Education</h3>
  <div class="experiences_wrapper education">
    <div class="row d-flex" *ngFor="let data of resumeDetails.experiences.education">
      <div class="heading"><h4>{{data.instituteName}}</h4> <p class="duration">{{data.duration}}</p></div>
      <div class="details"> <div class="edu_heading">{{data.courseName}}<span><i> [ {{data.courseResult}} ]</i></span></div>
       <div> {{data.description}} 
        <span class="location"> <span class="glyphicon glyphicon-map-marker"></span>{{data.location}}</span>
       </div> 
      </div>
    </div>
  </div>
  <h3>Carrers</h3>
  <div class="experiences_wrapper careers">
    <div class="row d-flex" *ngFor="let items of resumeDetails.experiences.carrers">
      <div class="heading"><h4>{{items.companyName}} </h4> <p class="duration">{{items.duration}}</p></div>
      <div class="details"> <div class="edu_heading">{{items.position}}</div> <div class="career_desc"> 
          {{items.description}}
          <span class="location"> <span class="glyphicon glyphicon-map-marker"></span>{{items.location}}
          <span class="seperator">|</span>
           <span class="glyphicon glyphicon-link"></span> <a href="{{items.link?.url}}" target="_blank">{{items.link?.name}} </a></span>
      </div> </div>
    </div>
  </div>
</div>

<div class="abilities">
  <div id="abilities" #abilities class="container" >
    <h2 class="headings">{{resumeDetails.abilities.heading}}</h2>
    <div class="quote">{{resumeDetails.abilities.quote}} <br>- {{resumeDetails.abilities.quoteSayer}}</div>
    <h3>Skills</h3>
    <div class="abilities_wrapper careers">
      <div class="row d-flex">
        <div class="skill_list" *ngFor="let data of resumeDetails?.abilities?.skills">
          <div class="d-flex" *ngFor="let skills of data"> 
              <div class="skill_name">{{skills.name}}</div> 
              <div  class="skill_rating">
                <span *ngFor="let value of glpystar" class="glyphicon glyphicon-star" [ngClass]=" (value <=skills.rating )? 'filled':''"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <h3>Languages</h3>
    <div class="abilities_wrapper languages">
      <div class="row d-flex">
        <div class="skill_list" *ngFor="let data of resumeDetails?.abilities?.languages">
          <div class="d-flex" *ngFor="let skills of data"> 
              <div class="skill_name">{{skills.name}}</div> 
              <div  class="skill_rating">
                <span *ngFor="let value of glpystar" class="glyphicon glyphicon-star" [ngClass]=" (value <=skills.rating )? 'filled':''"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <h3>Tools</h3>
    <div class="abilities_wrapper tools">
      <div class="row d-flex">
        <div class="skill_list" *ngFor="let data of resumeDetails?.abilities?.tools">
          <div class="d-flex" *ngFor="let skills of data"> 
              <div class="skill_name">{{skills.name}}</div> 
              <div  class="skill_rating">
                <span *ngFor="let value of glpystar" class="glyphicon glyphicon-star" [ngClass]=" (value <=skills.rating )? 'filled':''"></span>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="contact">
  <div id="contact" #contact class="container" >
    <h2 class="headings">{{resumeDetails.contact.heading}}</h2>
    <div class="quote">{{resumeDetails.contact.quote}} <br>- {{resumeDetails.contact.quoteSayer}}</div>
    <div class="contact_wrapper">
      <div class="contact_row d-flex">
        <div class="list_footer d-flex"> 
          <a class="list_wrapper" href="https://linkedin.com/in/kiran-kumarm" target="_blank"><span class="icon linkedin_icon"></span>https://linkedin.com/in/kiran-kumarm</a>
          <a class="list_wrapper" href="https://github.com/Kiran-KumarM" target="_blank"><span class="icon github_icon"></span>https://github.com/Kiran-KumarM</a>

        </div>
        <div class="list_footer  d-flex"> 
          <a class="list_wrapper" href="mailto:kiran.kumar.msingh@gmail.com" target="_blank"><span class="icon mail_icon"></span>kiran.kumar.msingh@gmail.com</a>
          <a class="list_wrapper" href="tel:8667095979" target="_blank"><span class="icon call_icon"></span>+91-8667095979</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
